.task-ul {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  margin-bottom: 0.8rem;
  padding: 1rem;
  border-radius: 6px;
  transition: all 0.2s;
}

.task-item:hover {
  border-color: #666;
}

/* Informações da tarefa */
.task-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.2rem;
}

.task-title {
  font-size: 1rem;
  color: var(--text-main);
}

.task-meta {
  color: var(--text-muted);
  font-size: 0.85rem;
}

/* Área dos botões */

.tabs-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.tab-btn {
  flex: 1;
  padding: 0.8rem;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-main);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

/* Estilo fiel à aba ativa (Beige) */
.tab-btn.active {
  background-color: var(--accent-color);
  color: #121212; /* Texto preto no fundo claro */
  border-color: var(--accent-color);
  font-weight: 500;
}

.task-actions {
  display: flex;
  gap: 0.5rem;
}

.action-btn {
  background: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-main);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.action-btn:hover {
  background-color: #333;
}

/* Cor específica para o check */
.action-btn.check:hover {
  background-color: rgba(76, 175, 80, 0.2);
  border-color: #4CAF50;
  color: #4CAF50;
}

/* Cor específica para o edit */
.action-btn.edit:hover {
  background-color: rgba(33, 150, 243, 0.2);
  border-color: #2196F3;
  color: #2196F3;
}

/* Estilo visual quando a tarefa está concluída */
.completed-item {
  opacity: 0.6;
}

.completed-item .task-title {
  text-decoration: line-through;
}