.main-container {
  width: 40vw;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app-image {
  display: block;
  margin: 0 auto 16px auto;
  max-width: 180px;
  height: auto;
}