<main class="main-container">
  <img src="/tuiduibg.svg" alt="TUIDUI" class="app-image">

  <!-- Passamos a tarefa em edição (taskToEdit) e escutamos saveTask e cancelEdit -->
  <app-task-form [taskToEdit]="editingTask()" (saveTask)="handleSaveTask($event)" (cancelEdit)="handleCancelEdit()">
  </app-task-form>

  <!-- Escutamos os eventos de toggle e edit vindos da lista -->
  <app-task-list [tasks]="tasks()" (toggleComplete)="handleToggle($event)" (editTask)="handleEdit($event)"
    (deleteTask)="handleDelete($event)">
  </app-task-list>
</main>