.main-container {
  width: 40vw;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  color: var(--text-main);
}