/* src/app/app.component.css */
.main-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.app-title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--text-main);
  letter-spacing: 0.5px;
}