:root {
  --bg-color: #f5f5f5;
  --card-bg: #ffffff;

  --text-main: #686868;
  --text-muted: #9e9e9e;

  --border-color: #dddddd;
  --accent-color: #609398;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

input, select, textarea, button {
  font-family: inherit;
  outline: none;
}